/* Tailwind Components */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* End Here */



body {
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #0f172a;
    color: #ffffff;
}
